body {
	background-color: #f2f2f2;
	color: black;
	width: 700px;
	margin: 0 auto;
	a:link, a:visited{
		color: #2f4673;
		text-decoration: none;
		font-weight: 700;
	}
	a:hover {
		color: #2f4673;
		text-decoration: none;
		font-weight: 700;
		cursor: pointer;
	}
	font-family: "Dosis", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 13pt;
	text-align: justify;
}

.main-button {
	font-family: "Dosis", sans-serif;
	font-weight: 500;
	font-style: normal;
	background-color: #a0bed9;
	color: #f2f2f2;
	width: 314px;
	display: block;
	margin: 0 auto;
	border-radius: 13px;
	text-align: center;
	font-size: 25pt;
	border-style: solid;
	border-width: 5px;
	border-color: transparent;
}

.main-button:hover {
	cursor: pointer;
	border-color: #a0bed9;
	border-style: solid;
	border-width: 5px;
	color: #a0bed9;
	background-color: #f2f2f2;
}

.main-footer {
	position: fixed;
	bottom: 0;
	font-size: 13pt;

}

.main-picture {
	width: 700px;
	height: 395px;
	overflow: hidden;
	position: relative;
}

.main-picture iframe {
	position: absolute;
	top: -50px;
	left: -2px;
	width: 704px;
	height: 395px;
	pointer-events: none;
}
